* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://eskipaper.com/images/castle-wallpapers-5.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 5fr .5fr 12fr 1fr;
    grid-template-rows: 1.5fr 5fr .5fr 5fr 1fr;
    grid-template-areas: 
    "header    header   header    header    header"
    "  .     game-menu    .     game-board     .  "
    "  .         .        .     game-board     .  "
    "  .    tower-menu    .     game-board     .  "
    "footer   footer    footer    footer    footer"
}
.header {
    grid-area: header;  
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-menu {
    grid-area: game-menu;
    background-color: lightgray;
    border: 5px solid darkgray;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ".      game-menu-header      ."
    ".     game-menu-buttons      ."
    ".    game-menu-scoreboard    .";
}
.game-menu-header {
    grid-area: game-menu-header;
    /* background-color:green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-menu-buttons {
    grid-area: game-menu-buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* background-color: blue; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
.game-menu-scoreboard {
    grid-area: game-menu-scoreboard;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tower-menu {
    grid-area: tower-menu;
    background-color: lightgray;
    border: 5px solid darkgray;
    border-radius: 10%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    ".        tower-menu-header         ."
    ".       tower-menu-buttons         ."
    ".      tower-menu-scoreboard       .";
}
.tower-menu-header {
    grid-area: tower-menu-header;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.tower-menu-buttons {
    grid-area: tower-menu-buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: orange; */
}
.tower-menu-scoreboard {
    grid-area: tower-menu-scoreboard;
    /* background-color: yellow;s */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board-underlay {
    border-radius: 5%;
    overflow: hidden;
    grid-area: game-board;
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.grass {
    background-color: green;
}
.path {
    background-color:tan;
}
.stone {
    background: darkslategrey;
}
.game-board {
    grid-area: game-board;
    /* border: 10px solid lightgray; */
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0 0 0 7px darkgray;
    position: relative;
}
.board-element {
    width: 50px;
    height: 50px;
    top: -10%; 
    left: 50%;
    position: absolute;
    display: inline-block;
    background-color: blue;
    border-radius: 50%;
    /* z-index: 1; */
}
.board-element2 {
    width: 50px;
    height: 50px;
    top: 300px;
    left: 325px;
    position: absolute;
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    /* z-index: 2; */
}
.game-board-overlay {
    grid-area: game-board;
    overflow: hidden;
    display: grid; 
    border-radius: 5%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.overlay-element {
    border: 1px solid black;
}
.footer {
    grid-area: footer;
    /* background-color: rgb(27, 145, 105); */
}



/* Buttons */
.about-game-button {
    cursor: pointer;
}
.new-game-button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
.pause-game-button {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.circle-tower-button {
    cursor: pointer;
    border-radius: 10%;
    position: relative;
}
.circle-tower-info-button {
    cursor: pointer;
    font-size: 10px;
    padding: 2px 5px;
    position: absolute;
    border-radius: 20%;
}